mixin galeriaDeObras(obras)
  each obra, i in obras
    article(class=`item-obra-${i}`, data-toggle="modal", data-target=`#${obra.id}`)
      .d-flex.align-items-center.justify-content-center
        p= obra.title
    +modalParaLasObras(obra)

mixin modalParaLasObras(objObra)
  //  Central Modal Small 
  .modal.fade(id=`${objObra.id}`,tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
    //  Change class .modal-sm to change the size of the modal 
    .modal-dialog.modal-sm(role="document")
      .modal-content
        .modal-header
          h4.modal-title.w-100 #{objObra.title}
          button.close(type="button", data-dismiss="modal", aria-label="Close")
            span(aria-hidden="true") ×
        .modal-body #{objObra.description}
          .text-center
            +carouselPhotos(objObra)
            //- - let i = 0
            //-   while i < objObra.quantity
            //-     img(src=`./${objObra.images}/${i}.jpg`, alt="").img-fluid
            //-     - i++
          
        .modal-footer
          button.btn.btn-secondary.btn-sm(type="button", data-dismiss="modal") Close
          button.btn.btn-primary.btn-sm(type="button") Save changes
  //  Central Modal Small 

mixin carouselPhotos(obra)
  .carousel.slide(data-ride="carousel", id=`carousel-${obra.id}`)
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(45).jpg", alt="First slide")
      .carousel-item
        img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(46).jpg", alt="Second slide")
      .carousel-item
        img.d-block.w-100(src="https://mdbootstrap.com/img/Photos/Slides/img%20(47).jpg", alt="Third slide")
    a.carousel-control-prev(href=`#carousel-${obra.id}`, role="button", data-slide="prev")
      span.carousel-control-prev-icon(aria-hidden="true")
      span.sr-only Previous
    a.carousel-control-next(href=`#carousel-${obra.id}`, role="button", data-slide="next")
      span.carousel-control-next-icon(aria-hidden="true")
      span.sr-only Next